.datepicker__buttonIcon {
    display: inline-block;

    padding: .5em;

    background-size: contain;
}

.datepicker__buttonIcon-close {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNDkwIDEzMjJxMCA0MC0yOCA2OGwtMTM2IDEzNnEtMjggMjgtNjggMjh0LTY4LTI4bC0yOTQtMjk0LTI5NCAyOTRxLTI4IDI4LTY4IDI4dC02OC0yOGwtMTM2LTEzNnEtMjgtMjgtMjgtNjh0MjgtNjhsMjk0LTI5NC0yOTQtMjk0cS0yOC0yOC0yOC02OHQyOC02OGwxMzYtMTM2cTI4LTI4IDY4LTI4dDY4IDI4bDI5NCAyOTQgMjk0LTI5NHEyOC0yOCA2OC0yOHQ2OCAyOGwxMzYgMTM2cTI4IDI4IDI4IDY4dC0yOCA2OGwtMjk0IDI5NCAyOTQgMjk0cTI4IDI4IDI4IDY4eiIvPjwvc3ZnPg==");
}

.datepicker__buttonIcon-calendar {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xOTIgMTY2NGgyODh2LTI4OGgtMjg4djI4OHptMzUyIDBoMzIwdi0yODhoLTMyMHYyODh6bS0zNTItMzUyaDI4OHYtMzIwaC0yODh2MzIwem0zNTIgMGgzMjB2LTMyMGgtMzIwdjMyMHptLTM1Mi0zODRoMjg4di0yODhoLTI4OHYyODh6bTczNiA3MzZoMzIwdi0yODhoLTMyMHYyODh6bS0zODQtNzM2aDMyMHYtMjg4aC0zMjB2Mjg4em03NjggNzM2aDI4OHYtMjg4aC0yODh2Mjg4em0tMzg0LTM1MmgzMjB2LTMyMGgtMzIwdjMyMHptLTM1Mi04NjR2LTI4OHEwLTEzLTkuNS0yMi41dC0yMi41LTkuNWgtNjRxLTEzIDAtMjIuNSA5LjV0LTkuNSAyMi41djI4OHEwIDEzIDkuNSAyMi41dDIyLjUgOS41aDY0cTEzIDAgMjIuNS05LjV0OS41LTIyLjV6bTczNiA4NjRoMjg4di0zMjBoLTI4OHYzMjB6bS0zODQtMzg0aDMyMHYtMjg4aC0zMjB2Mjg4em0zODQgMGgyODh2LTI4OGgtMjg4djI4OHptMzItNDgwdi0yODhxMC0xMy05LjUtMjIuNXQtMjIuNS05LjVoLTY0cS0xMyAwLTIyLjUgOS41dC05LjUgMjIuNXYyODhxMCAxMyA5LjUgMjIuNXQyMi41IDkuNWg2NHExMyAwIDIyLjUtOS41dDkuNS0yMi41em0zODQtNjR2MTI4MHEwIDUyLTM4IDkwdC05MCAzOGgtMTQwOHEtNTIgMC05MC0zOHQtMzgtOTB2LTEyODBxMC01MiAzOC05MHQ5MC0zOGgxMjh2LTk2cTAtNjYgNDctMTEzdDExMy00N2g2NHE2NiAwIDExMyA0N3Q0NyAxMTN2OTZoMzg0di05NnEwLTY2IDQ3LTExM3QxMTMtNDdoNjRxNjYgMCAxMTMgNDd0NDcgMTEzdjk2aDEyOHE1MiAwIDkwIDM4dDM4IDkweiIvPjwvc3ZnPg==");
}

.datepicker__buttonIcon-arrow-left {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNDI3IDMwMWwtNTMxIDUzMSA1MzEgNTMxcTE5IDE5IDE5IDQ1dC0xOSA0NWwtMTY2IDE2NnEtMTkgMTktNDUgMTl0LTQ1LTE5bC03NDItNzQycS0xOS0xOS0xOS00NXQxOS00NWw3NDItNzQycTE5LTE5IDQ1LTE5dDQ1IDE5bDE2NiAxNjZxMTkgMTkgMTkgNDV0LTE5IDQ1eiIvPjwvc3ZnPg==");
}

.datepicker__buttonIcon-arrow-right{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMzYzIDg3N2wtNzQyIDc0MnEtMTkgMTktNDUgMTl0LTQ1LTE5bC0xNjYtMTY2cS0xOS0xOS0xOS00NXQxOS00NWw1MzEtNTMxLTUzMS01MzFxLTE5LTE5LTE5LTQ1dDE5LTQ1bDE2Ni0xNjZxMTktMTkgNDUtMTl0NDUgMTlsNzQyIDc0MnExOSAxOSAxOSA0NXQtMTkgNDV6Ii8+PC9zdmc+");
}

.datepicker__buttonIcon-arrow-up{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNjgzIDEzMzFsLTE2NiAxNjVxLTE5IDE5LTQ1IDE5dC00NS0xOWwtNTMxLTUzMS01MzEgNTMxcS0xOSAxOS00NSAxOXQtNDUtMTlsLTE2Ni0xNjVxLTE5LTE5LTE5LTQ1LjV0MTktNDUuNWw3NDItNzQxcTE5LTE5IDQ1LTE5dDQ1IDE5bDc0MiA3NDFxMTkgMTkgMTkgNDUuNXQtMTkgNDUuNXoiLz48L3N2Zz4=");
}

.datepicker__buttonIcon-arrow-down {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNjgzIDgwOGwtNzQyIDc0MXEtMTkgMTktNDUgMTl0LTQ1LTE5bC03NDItNzQxcS0xOS0xOS0xOS00NS41dDE5LTQ1LjVsMTY2LTE2NXExOS0xOSA0NS0xOXQ0NSAxOWw1MzEgNTMxIDUzMS01MzFxMTktMTkgNDUtMTl0NDUgMTlsMTY2IDE2NXExOSAxOSAxOSA0NS41dC0xOSA0NS41eiIvPjwvc3ZnPg==");
}

.datepicker__buttonIcon-arrow-up,
.datepicker__buttonIcon-arrow-down {
    padding: .35em;
}

.datepicker-actions {
    display: flex;
}

.datepicker-actions__input {
    font: 1rem/1.5 OpenSans;

    display: block;

    width: 100%;
    padding: .375rem .75rem;

    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    color: #555;
    border: 1px solid #ccc;
    border-radius: .25rem;
    background: #fff none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.datepicker-actions__input:focus {
    border-color: #4d90fe;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.datepicker-actions__input:disabled,
.datepicker-actions__input[readonly],
.datepicker-actions__button:disabled {
    opacity: 1;
    background-color: #eee;
}

.datepicker-actions__input:disabled,
.datepicker-actions__button:disabled {
    cursor: not-allowed;
}

.datepicker-actions__button {
    margin-left: 10px;
    padding: 0 .77rem;

    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    border: 1px solid #ccc;
    border-radius: .25em;
    outline: none;
    background-color: #fff;
}

.datepicker-actions__button:active,
.datepicker-actions__button:focus {
    border-color: #4d90fe;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.datepicker-panel {
    display: flex;
    overflow: hidden;

    max-width: 17em;
    margin-top: 1em;
    padding: 1em;

    border: 1px #ccc solid;
    border-radius: 4px;
    background: #fff;

    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.date-selector
{
    line-height: 2em;

    text-align: center;
    vertical-align: middle;
}

.day-selector.hidden {
    display: none;
}

.day-selector__days-of-week {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;

    list-style-type: none;

    background-color: #eee;

    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.day-selector__day-of-week {
    font-weight: bold;

    flex-grow: 1;
    flex-shrink: 1;
}

.day-selector__days-of-month {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;

    list-style-type: none;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.day-selector__day-of-month {
    cursor: pointer;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 14%;
}

.day-selector__day-of-month.selected {
    background: #eee;
}

.day-selector__day-of-month.out-of-month {
    color: #ccc;
}

.period-switch {
    display: flex;

    flex-flow: row nowrap;
    align-items: center;
}

.period-switch__change {
    padding: .5em;

    cursor: pointer;

    flex-grow: 0;
    flex-shrink: 0;
}

.period-switch__period {
    font-weight: bold;

    cursor: pointer;
    text-align: center;

    flex-grow: 1;
    flex-shrink: 1;
}

.date-set {
    line-height: 2em;

    text-align: center;
    vertical-align: middle;
}

.date-set.hidden {
    display: none;
}

.date-set__dates {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;

    list-style-type: none;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.date-set__date {
    cursor: pointer;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33%;
}

.date-set__date.selected {
    background: #eee;
}

.time-component-scroller {
    line-height: 1em;

    display: flex;

    flex-flow: column nowrap;
    align-items: center;
}

.time-component-scroller__arrow,
.time-component-scroller__value,
.time-component-selector__am-pm {
    cursor: pointer;
}

.time-component-selector {
    font-size: 2em;

    display: flex;

    flex-flow: row nowrap;
    align-items: center;
}

.time-component-selector__component {
    padding-right: .5em;
}
