@font-face {
    font-family: "Fira";
    font-weight: 400;
    font-style: normal;

    src: url("assets/fonts/FiraCode-Regular.ttf");
}

@font-face {
    font-family: "OpenSans";
    font-weight: 400;
    font-style: normal;

    src: url("assets/fonts/OpenSans-Regular.ttf");
}

body {
    font-family: OpenSans, sans-serif;

    background-color: #eee;
}

.root {
    display: flex;

    height: 100vh;
    padding: 10px 5px;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.example {
    font-size: 15px;

    margin: 3px;

    flex-basis: 300px;
}

pre {
    display: block;

    margin-bottom: 5px;
    padding: 10px;

    border-radius: 5px;
    background-color: #ababab;
}

code {
    font-family: Fira, monospace;
    font-size: 13px;

    color: #000;
}

.alert {
    color: red;
}